@model ProductBrand


<form method="post" asp-action="Create">
	<div class="input-group mb-2">
		<input asp-for="Name" class="form-control" />
		<div class="input-group-append">
			<button type="submit" class="btn btn-success">Add New Brand</button>
		</div>
	</div>
	<span asp-validation-for="Name" class="text-danger"></span>
</form>
